.attributions {
    color: var(--ifm-color-emphasis-600);
}

.highlighted-text {
    color: var(--ifm-color-primary);
}

.players-list {
    margin: 1rem 0;
    padding: 0;
    list-style: none;
    display: flex;
    overflow: hidden;
    gap: 1rem;
}

.player-button button {
    display: inline-flex;
    background-color: transparent;
    text-decoration: none;
    border: 2px dotted var(--ifm-color-primary-lightest);
    padding: 0.5rem;
    cursor: pointer;
    white-space: nowrap;

    @media screen and (-ms-high-contrast: active) {
        border: 2px solid currentcolor;
    }
}

.player-button:hover button {
    border-style: dashed;
}

.player-button.selected button {
    border-style: solid;
    border-color: var(--ifm-color-secondary);
}

.winner {
    background-color: #fedf72;
}

.winner:nth-child(2n) {
    background-color: #fef4ce;
}

.loser {
    background-color: #ffa2a9;
}

.loser:nth-child(2n) {
    background-color: #ffd0d3;
}
